@{
    ViewData["Title"] = "Index";
}

<div class="row mt-5">
    <div class="col-md-2">
        <a class="btn btn-outline-warning" target="_blank" asp-area="Admin" asp-controller="Report" asp-action="DemoReport1Download">Table & Parameters Passing Report</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-outline-warning" target="_blank" asp-area="Admin" asp-controller="Report" asp-action="DemoReport2Download">Matrix Report</a>
    </div>
@*    <div class="col-md-2">
        <a class="btn btn-outline-warning" target="_blank" asp-area="Admin" asp-controller="Report" asp-action="DemoReport3Download">Chart Report</a>
    </div>*@
    <div class="col-md-2">
        <a class="btn btn-outline-warning" target="_blank" asp-area="Admin" asp-controller="Report" asp-action="DemoReport4Download">Sub Report</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-outline-warning" target="_blank" asp-area="Admin" asp-controller="Report" asp-action="DemoReport5Download">List & Chart Control</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-outline-warning" target="_blank" asp-area="Admin" asp-controller="Report" asp-action="DemoReport6Download">Gauge Control</a>
    </div>
</div>

